:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* font-size: 62.5%; */

  --line-color: rgb(115, 43, 247);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter";
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
