:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* font-size: 62.5%; */

  --line-color: rgb(115, 43, 247);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  /* font-family: "Inter"; */
  font-family: "Work Sans", sans-serif;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.info p {
  font-size: 1.125rem;
  color: var(--color-decorative-100);
  margin-bottom: 0px;
  font-weight: 400;
  text-align: right;
}
