/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  scrollbar-gutter: stable;
  /* font-size: 62.5%; */
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* THEME VARIABLES */
html {
  --content-width: 55rem;
  --outer-content-width: 120rem;
  --viewport-padding: 16px;
  --header-height: 5rem;
  --trimmed-content-width: calc(
    var(--content-width) - var(--viewport-padding) * 2
  );
}

@media (min-width: 35rem) {
  html {
    --viewport-padding: 24px;
  }
}

/* GLOBAL STYLES */
::selection {
  background-color: var(--color-selection-background) !important;
  color: var(--color-selection-text) !important;
  background-image: none !important;
  -webkit-text-fill-color: var(--color-selection-text) !important;
  -moz-text-fill-color: var(--color-selection-text) !important;
  background-image: none !important;
  background-clip: revert !important;
  -webkit-background-clip: revert !important;
  text-shadow: none !important;
}

html {
  color: var(--color-text);
  /* font-family: var(--font-family), sans-serif; */
  letter-spacing: -0.03125em;
  /* background: var(--color-backdrop-highlight); */
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  background: var(--color-backdrop);
  border-bottom: 3px solid var(--color-decorative-600);
}

body > main {
  flex: 1;
  position: relative;

  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}

em {
  font-style: italic;
}
code {
  font-family: var(--font-family-mono);
}
h1 {
  font-size: 1.75rem;
  font-weight: 650;
}
h2 {
  font-size: 1.5rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
}
h3 {
  font-size: 1.25rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 500;
}
p {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}
p code {
  display: inline-block;
  font-size: 0.9em;
  background: var(--color-inline-code-bg);
  padding: 3px 6px;
  margin: -0.25em -1px;
  border-radius: 3px;
}
a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.125em;
  font-weight: 500;
  transition: all 200ms;
}
a:hover {
  text-underline-offset: 0.175em;
}
button {
  padding: 0;
}

@media (min-width: 35rem) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.details {
  padding: 1.5rem;
  border: 4px solid rgb(85, 99, 233);
  border-radius: 0.6rem;
}

.details__box {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 0.7fr;
  background: hsl(256deg 20% 4%);
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1.5rem;
  border-radius: 10px;
  /******************
     Responsiveness
    ******************/
  /* 932px */
  @media screen and (max-width: 58.25em) {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}

.box {
  padding: 0.6rem 0;

  position: relative;
  z-index: 100;
  grid-row: 2 / span 1;
  grid-column: 1 / -1;
}

.overview {
  box-shadow: 0 0 0 transparent, 0 0 0 transparent,
    0 0 3rem rgba(76, 103, 150, 0.1);
  padding: 1.2rem 1.6rem;
  line-height: 1.7;
  border-left: 4px solid var(--line-color);
  border-right: 4px solid var(--line-color);
  font-size: 1.1rem;
  color: rgb(219, 210, 221);
  font-weight: 600;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  /* background-color: orange; */
}

.description {
  display: grid;
  gap: 1rem;
  align-items: center;
  align-self: center;
  transform: translateY(-10px);
}

.description-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  color: white;
  border-radius: 4px;
}

.heading {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgb(247, 6, 114);
  color: rgb(51, 25, 66);
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 4px;
  place-items: center;
  width: 95%;
  margin: 0px auto;
  background-color: rgb(250, 197, 221);
  padding: 0.8rem;
  border-radius: 3px;
  font-weight: 600;

  &::after,
  &::before {
    content: "";
    width: 60%;
    height: 3px;
    background-color: var(--line-color);
  }
}

.heading-1 {
  font-size: 1.4rem;
  font-weight: 800;
  text-decoration: none;
  /* text-transform: uppercase; */
  background-image: linear-gradient(
    45deg,
    rgb(115, 43, 247) 0%,
    rgb(125, 48, 248) 13%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* padding: 0 1rem; */
  border-radius: 0.2rem;
  /* transform: skewY(0.6deg) skewX(-8deg) scale(1.04); */
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.info a {
  text-decoration: none;
}

.heading-1:hover {
  transform: rotate(1deg) scale(1.04);
}
